<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label><p></p>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task" />
    </div>
    <div class="form-control">
        <label for="text">Day & Time</label><p></p>
        <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day & Time" />
    </div>
    <div class=" form-control-check">
        <label for="reminder">Set Reminder

            <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
        </label>
    </div><p></p>
    <input type="submit" value="Save Task" class=" btn-block">
</form>